/callpoints
/config/adx_conversionCtrl
/data/admin_backup
/data/arc
/data/arm-01.textsearch
/documents
/logs
/prop/addonprop.jar
/util/codeport/logs
/util/dataport/logs
/htdocs/WEB-CFG
.bdtPath
.buildpath
.project
/.metadata/
*.bak
