.BBjTopLevelWindow {
    border: none !important;
}

.BBjTopLevelWindow-container {
    background: #fff;
}

.BBjWindow-content {
    outline: none;
}

.gwt-DialogBox .BBjDialog .dialogTopCenter {
	border: none !import; 
	visibility:hidden;
}

body{
	background-image: url('//localhost:8888/files/Biking.png'),linear-gradient(#b3cccc, #669999);
}

.terminatedMessage{
	height: 100vh;
}

#reloadApplication {
	font-size: 36px;
}

.cc-window {
	background-color: rgba(255,255,255,0.0);
    border-radius: 50px;
}

.cc-header1 {
	font-family: Arial, Roboto, Verdana !important;
	font-size: 2.5em !important;
	font-weight: bold !important;
	text-align: center !important;
	text-shadow: none !important;
	color: black !important;
}

.cc-header2 {
	font-family: Arial, Roboto, Verdana !important;
	font-size: 2.25em !important;
	font-weight: bold !important;
	text-align: center !important;
	text-shadow: none !important;
	color: black !important;
}

.cc-statictext {
	font-family: Arial, Roboto, Verdana !important;
	font-size: 1.25em !important;
	font-weight: bold !important;
	text-align: right !important;
	text-shadow: none !important;
	color: charcoal !important;
}

.cc-statictext-left {
	font-family: Arial, Roboto, Verdana !important;
	font-size: 1.25em !important;
	font-weight: bold !important;
	text-align: left !important;
	text-shadow: none !important;
	color: charcoal !important;
}

.cc-editbox {
	border-radius: 10px;
	padding-right: 10px; 
	padding-left: 10px; 
    font-family:  Arial, Roboto, Verdana !important;
	font-weight: bold !important;
    font-size: 1.25em !important;
}

.cc-button {
	border-radius: 100px; 
    font-family: Arial, Roboto, Verdana !important;
    font-size: 1.25em !important;
    font-weight: bold !important;
}

/* 
	Used for the password link, which is actually a BBjToolButton. 
*/
.cc-link {
	background-color: rgba(255,255,255,0.0);
	background: none;
	border-width: 0px; 
	box-shadow: none; 
}

.cc-link .html-face .basis-button-face {
	color: blue;
	text-decoration: underline;
	
}

.cc-link.BBjToolButton:not(.bbj-disabled):hover {
	background: none;
	text-shadow: none;
}

.cc-link.BBjToolButton:not(.bbj-disabled):active {
	background: none;
	text-shadow: none;
}

.cc-link.gwt-ToggleButton-up-hovering {
	background: none; 
}

.cc-link.gwt-ToggleButton-down-hovering {
	background: none; 
}

.cc-link.BBjControl.BBjToolButton:not(.bbj-disabled):not(.bbj-toggle).gwt-ToggleButton-down-hovering {
	background: none;
	border-width: 0px; 
}	

.cc-link.BBjControl.BBjToolButton:not(.bbj-disabled):not(.bbj-toggle).gwt-ToggleButton-up-hovering {
	background: none; 
	border-width: 0px; 
}	


/* 
End properties for password link. 
*/

.txt_customer_id, .txt_disp_apply_amt {
	text-shadow:none;
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.BBjGrid-inputECell {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important; 
}

.BBjGrid-inputDCell {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important; 
}

.BBjGrid-inputNCell {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important; 
}

.BBjInputE {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.BBjInputN.bbj-readonly {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
