.BBjTopLevelWindow {
    border: none !important;
}

.BBjTopLevelWindow-container {
    background: #fff;
}

.BBjWindow-content {
    outline: none;
}

.gwt-DialogBox .BBjDialog .dialogTopCenter {
	border: none !import; 
	visibility:hidden;
}

body{
	background-image: url('//localhost:8888/files/Biking.png'),linear-gradient(#b3cccc, #669999);
}

.terminatedMessage{
	height: 100vh;
}

#reloadApplication {
	font-size: 36px;
}

/* id 5 handles the login and confirmation windows, id 20 handles the registration window */
[id='5'],[id='20'] {
	background-color: rgba(255,255,255,0.0);
    border-radius: 50px;
}

.cclogin-username-statictext, .cclogin-password-statictext, .ccregister-statictext, .ccconfirm-statictext {
	color:charcoal;
	text-shadow: none; 
}

.cclogin-header2-statictext, .ccregister-header2-statictext, .ccregister-confirmation-header2-statictext {
	color: black;
	text-shadow: none; 
}

.cclogin-header1-statictext, .ccregister-header1-statictext, .ccregister-confirmation-header1-statictext {
	color: black;
	text-shadow: none;
}
	
.cclogin-login-button, .cclogin-register-button, .cclogin-cancel-button {
	border-radius: 100px; 
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.ccregister-register-button, .ccregister-cancel-button {
	border-radius: 100px; 
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.BBjEditBox {
	border-radius: 25px;
	padding-right: 10px; 
	padding-left: 10px; 
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}


.txt_customer_id, .txt_disp_apply_amt {
	text-shadow:none;
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.BBjGrid-inputECell {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important; 
}

.BBjGrid-inputDCell {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important; 
}

.BBjGrid-inputNCell {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important; 
}

.BBjInputE {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.BBjInputN.bbj-readonly {
    font-family: Tahoma, Helvetica !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
